apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: spegel
  namespace: spegel
spec:
  type: "oci"
  interval: 5m0s
  url: oci://ghcr.io/spegel-org/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spegel
  namespace: spegel
spec:
  interval: 1m
  chart:
    spec:
      chart: spegel
      version: "v0.0.27"
      interval: 5m
      sourceRef:
        kind: HelmRepository
        name: spegel
  values:
    spegel:
      containerdRegistryConfigPath: /etc/cri/conf.d/hosts
      registries:
        [
          "https://cgr.dev",
          "https://docker.io",
          "https://ghcr.io",
          "https://quay.io",
          "https://mcr.microsoft.com",
          "https://public.ecr.aws",
          "https://gcr.io",
          "https://registry.k8s.io",
          "https://k8s.gcr.io",
          "https://lscr.io",
          "https://git.fascinated.cc",
        ]
