---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cert-manager
resources:
  - namespace.yaml
  - certificates/fascinated-cc.yaml
  - certificates/local-fascinated-cc.yaml
  - certificates/mcutils-xyz.yaml
  - issuers.yaml
