---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: monitoring
  namespace: monitoring
spec:
  interval: 12h
  url: https://prometheus-community.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "62.7.0"
      sourceRef:
        kind: HelmRepository
        name: monitoring
        namespace: monitoring
      interval: 12h
    values:
      grafana:
        persistence:
          enabled: true
          storageClassName: "nfs-csi"
          accessModes:
            - ReadWriteOnce
          size: 20Gi
