---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: drone-ci
resources:
  - namespace.yaml
  - ./server/sealed-secrets.yaml
  - ./server/pvc.yaml
  - ./server/server-deployment.yaml
  - ./server/service.yaml
  - ./server/ingress.yaml
  - ./runner/runner-deployment.yaml
  - ./runner/rbac.yaml
